<%- include ('./partials/header.ejs') %>
<%- include ('./partials/home-navbar.ejs') %>

<div class="container">
    <div class="jumbotron p-4 mt-4 rounded" style="background-color: rgb(219, 219, 219);">
        <h1 class="display-4">Bem-vindo</h1>
        <p class="lead">Este é um simples blog do Guia do Programador</p>
        <hr class="my-4">
        <p>Descrição detalhada...</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
        </p>
    </div>
    <% articles.forEach(article => { %>
        <div class="card my-5">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%= article.slug %> " class="btn btn-success">Ler artigo</a>
            </div>
        </div>
    <% }) %> 

    <div >
        <a class="mb-5" style="float: right;" href="/page/2">Próximo >>></a>
    </div>
</div>

<%- include ('./partials/footer.ejs') %> 